body{
    background-color: aqua;
}

.banner{
    background-color:pink;
    text-align: center;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: x-large;

}

body, html {
    height: 100%;
}

.hero-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1tJ6CbFmSWZg5AsJOu3mgnDYdhl75VhA2PjUc2eAVV5s5DR0WuSpOcBPodG7jFQNIAWc:https://i0.hippopx.com/photos/56/115/606/glow-shiny-colors-bokeh-preview.jpg&usqp=CAU");
 margin-left: 20%;
 margin-right: 25%;
    height: 500px;
 width: 895px;
 margin-top: 5%;
 margin-bottom: 5%;
}
  
  .hero-text {
    text-align: center;
    color: black;
    font-size: xxx-large;
  }

nav ul li{
    display: inline;
    float: right;
    margin-right: 13%;
    margin-top: 1%;
  }

  #logo{
    display: inline;
    margin-top: 5%;
    width: 40%;
    height: 150px;
    margin-left: 5%;
    margin-bottom: 5%;
  }

section{
  border: 2px solid black;
}

dl dt{
  font-weight: bold;
  font-size: xx-large;
}

dl u {
  margin-bottom: 1%;
}

dd {
  margin-bottom: 1.5%;
}

th{

  border: solid 1px black;
}
td{
  border: solid 1px black;
}

table{
font-size: xx-large;
  display: inline;
  margin-left: 70%;
  margin-bottom: 1%;
  margin-top: 1%;
}

#footnav{
margin-right: 35%;
}

h2 ins{
  margin-left: 70%;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

dl{
  margin-left: 10%;
  margin-top: 1%;
}

#IMG{
  display: inline-block;
}
